.heading1{margin-left: 64px;}
.list{display: inline-block;}
.list1{text-decoration: none;
    color: black;
    font-size: 17px;
    letter-spacing: 1px;
    margin-left: 53px;color: darkgrey;}
.list1:hover{color: white;
    font-size: 33px;}
header{display: flex;color: white;}
.menu{margin-left: 200px;
    margin-top: 33px;}
.heading2{margin-left: 111px;
    margin-top: 25px;
    letter-spacing: 2;
    font-weight: 200;
    border: 2px solid;
    border-radius: 47px;
    padding: 7px;
    padding-left: 19px;
    padding-right: 19px;cursor: pointer;}
.page{border: none;
    font-size: 18px;
    font-family: serif;
    letter-spacing: 1;background: none;color: darkgrey;}
body{background-image: url(back\ \(2\).jpg);
      height: 100%;
       background-color: darkmagenta;
         background-repeat: no-repeat;
        background-size: cover;
        background-position: top;}
.main1{display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 723px;
    margin-left: 303px;
}
.mainheading1{font-size: 53px;}
.div2{margin-top: -38px;}
img{background: white;
    border-radius: 82px;width: 60px;
    height: 60px;
    margin-left: 32px;margin-top: 12px;}
.but{padding: 11px;
    padding-right: 44px;
    padding-left: 44px;
    font-size: 15px;
    letter-spacing: 1;
    border-radius: 31px;
    color: white;
    background: blue;
    font-weight: bold;
    border: none;
    margin-top: 27px;}
.div3{margin-left: -30px;}
.t1{border-radius: 82px;
    width: 92px;
    height: 85px;
    margin-left: 32px;
    margin-top: 12px;background: none;cursor: pointer}
.t1:hover{width: 143px;
    height: 143px;}
h3{color: white;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
}
.but:hover{width: 333px;
    height: 63px;}
.mainimg{margin-left: 353px;
    margin-top: -38px;}
.main2{margin-top: 83px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;}
.main3{margin-top: 23;
    color: white;
    text-align: center;
    width: 663px;
    margin-left: 303px;
}
.main3h{color: blue;
    cursor: pointer;}
.main3sub{font-size: 58px;
    margin: 1px;
    margin-top: -22px;}
.p1{color: darkgray;
    line-height: 1.5;
    letter-spacing: 1;}